[run]
omit =
    .envs/*
    */tests/*
    */migrations/*
    */locale/*
    */site-package/*
    */settings/*
    */libs/*

[report]
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    def __repr__
omit =
    .envs/*
    */tests/*
    */migrations/*
    */locale/*
    */site-package/*
    */settings/*
    */libs/*
